

.textoblanco {
	font-family: Arial Narrow;
	font-size: 12px;
	color: #ffffff;

}

.textonegro {
	font-family: Arial Narrow;
	font-size: 12px;
	color: #000000;

}

.Marco {
	border-left: 1 solid #cccccc; 
	border-top: 1 solid #cccccc; 
	border-bottom: 1 solid #cccccc;
	border-right: 1 solid #cccccc; 
}

.lineaizq{
	border-left: 1 solid #cccccc; 
}
.lineader {
	border-right: 1 solid #cccccc; 
}
.lineasup {
	border-top: 1 solid #cccccc; 
}
.lineainf {
	border-bottom: 1 solid #cccccc; 
}

Table.cabecera 
{
background-image:url('../imagenes/cabecera.jpg');
}

.pie 
{
background-image:url('../imagenes/pie.jpg');
}


.lateralder 
{
background-image:url('../imagenes/laterader-cabecera.jpg');
}

.lateralizq
{
background-image:url('../imagenes/lateraizq-cabecera.jpg');
}

.login
{
background-image:url('../imagenes/login.png');
	text-align: center;
}

.panelsup
{
background-image:url('../imagenes/panelsup.png');
}

.panelinf
{
background-image:url('../imagenes/panelinf.png');
}

.panelmedio
{
background-image:url('../imagenes/panelmedio.png');
}



