<?xml version="1.0"?><!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sis.Launcher.Web.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TiempoSesionMinutos" value="1"/>
    <add key="IdModulo" value="1"/>
    <add key="DesModulo" value="Seguridad"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="AnioInicialBusqueda" value="2010"/>
    <add key="NumeroPlazo" value="30"/>
  </appSettings>
  <connectionStrings>
    <!-- 
    

    <add name="MSSQL_ConnectionString" connectionString="Data Source=192.168.13.34;Initial Catalog=BD_CR;User ID=sa; Password=" providerName="System.Data.SqlClient"/>
    <add name="MSSQL_ConnectionString2" connectionString="Data Source=192.168.13.34;Initial Catalog=BD_SEG_EST;User ID=sa; Password=" providerName="System.Data.SqlClient"/>


    <add name="MSSQL_ConnectionString" connectionString="Data Source=.;Initial Catalog=BD_CR;User ID=sa; Password=exito" providerName="System.Data.SqlClient"/>
    <add name="MSSQL_ConnectionString2" connectionString="Data Source=.;Initial Catalog=BD_SEG_EST;User ID=sa; Password=exito" providerName="System.Data.SqlClient"/>

<add name="MSSQL_ConnectionString" connectionString="Data Source=192.168.1.5;Initial Catalog=BD_CR;User ID=sa; Password=CRab$sur$4R4M" providerName="System.Data.SqlClient"/>
    <add name="MSSQL_ConnectionString2" connectionString="Data Source=192.168.1.5;Initial Catalog=BD_SEG_EST;User ID=sa; Password=CRab$sur$4R4M" providerName="System.Data.SqlClient"/>




<add name="MSSQL_ConnectionString" connectionString="Data Source=PCINF12\MSSQLSERVER2008;Initial Catalog=BD_CR;User ID=sa; Password=desarrollo" providerName="System.Data.SqlClient"/>
<add name="MSSQL_ConnectionString2" connectionString="Data Source=PCINF12\MSSQLSERVER2008;Initial Catalog=BD_SEG_EST;User ID=sa; Password=desarrollo" providerName="System.Data.SqlClient"/>
    <add name="MSSQL_ConnectionString" connectionString="Data Source=LPTDINFO\SQL2008DOS;Initial Catalog=BD_CR;User ID=sa; Password=desarrollo" providerName="System.Data.SqlClient"/>
    <add name="MSSQL_ConnectionString2" connectionString="Data Source=LPTDINFO\SQL2008DOS;Initial Catalog=BD_SEG_EST;User ID=sa; Password=desarrollo" providerName="System.Data.SqlClient"/>
    
    <add name="MSSQL_ConnectionString" connectionString="Data Source=TESLA\MSSQL_2012;Initial Catalog=BD_CR;User ID=sa; Password=exito" providerName="System.Data.SqlClient"/>
    <add name="MSSQL_ConnectionString2" connectionString="Data Source=TESLA\MSSQL_2012;Initial Catalog=BD_SEG_EST;User ID=sa; Password=exito" providerName="System.Data.SqlClient"/>
    -->

    <add name="MSSQL_ConnectionString" connectionString="Data Source=.;Initial Catalog=BD_CR;User ID=sa; Password=desarrollo" providerName="System.Data.SqlClient"/>
  

    <add name="MSSQL_ConnectionString2" connectionString="Data Source=.;Initial Catalog=BD_SEG_EST;User ID=sa; Password=desarrollo" providerName="System.Data.SqlClient"/>

    <add name="MSSQL_ConnectionString3" connectionString="Data Source=.;Initial Catalog=BD_CRJUDICIAL;User ID=sa; Password=desarrollo" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <!--<add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name="Seguridad" loginUrl="Login.aspx" defaultUrl="Default.aspx" protection="None" timeout="1" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false"/>
    </authentication>
    <sessionState timeout="20"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages styleSheetTheme="Standard" asyncTimeout="360" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>    
  </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <handlers>
        <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      </handlers>
      <defaultDocument>
        <files>
          <clear/>
          <add value="Login.aspx"/>
        </files>
      </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/></system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>